<div class="jumbotron">
    <h1>On Track</h1>
</div>

<div class="container">
    <div class = "row"
        <div class="col-lg-3">
            <p>Entry form here</p>
        </div>
        <div class="col-lg-9">
            <div class="calendar">
        </div>
    </div>
</div>



</div>