<div class="jumbotron">
    <h1>On Track</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">

            <form class="form" method="post" action="#">
                <h2>Please register here:</h2>
                
                <label>Email :</label>
                <input type="text" name="email" id="email">
                <br>
                <label>Password :</label>
                <input type="password" name="password" id="pword">
                <br>
                <label>Confirm Password :</label>
                <input type="password" name="cpassword" id="cpword">
                <br>
                <input type="button" name="register" id="register" value="Register">
            </form>
            <a href="/login">Log in here.</a>
        </div>
    </div>
</div>